@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Binghamton University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to University Portal</h2>
        <p>
            Binghamton University is a sample application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Administrator and Staff</h2>
        <p><a class="btn btn-default" href="index">See the website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Workers</h2>
        <p><a class="btn btn-default" href="">Click the above link &raquo;</a></p>
    </div>
</div>